doctype html
head
    meta(charset='utf-8')
    script(src="./src/views/jquery.js")
    script(src="./src/scripts/admin_panel.js")
    script(src="./src/scripts/request.js")

div.main 
    div.users_table