doctype html
head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/build/css/news.css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    script(src="/build/js/jquery.js")
    script(src="/build/js/client/news.js")
    script(src="/build/js/client/request.js")

div.main 
    div.news


    button.back()
        ="Вернуться назад"